E_Saldytuvas.Server/.vs/
E_Saldytuvas.Server/E_Saldytuvas.Server/obj/Debug/netcoreapp2.0/E_Saldytuvas.Server.pdb
E_Saldytuvas.Server/E_Saldytuvas.Server/bin/Debug/netcoreapp2.0/E_Saldytuvas.Server.pdb
E_Saldytuvas.Server/E_Saldytuvas.Server/bin/Debug/netcoreapp2.0/E_Saldytuvas.Server.dll
E_Saldytuvas.Server/E_Saldytuvas.Server/obj/Debug/netcoreapp2.0/E_Saldytuvas.Server.dll
E_Saldytuvas.Server/E_Saldytuvas.Server/obj/Debug/
Dokumentacija/SS/
Dokumentacija/Mock-ups/
